<h1 *ngIf="showErrorMessage">Data loading error.</h1>

<p-table [value]="data" [rowHover]="true" [loading]="loading">
  <ng-template pTemplate="header">
    <tr>
      <th>Holder name</th>
      <th>Emergency Id</th>
      <th>Emergency request time</th>
      <th>Device serial number</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td>{{row.holder | holderFullName}}</td>
      <td>{{row.emergency.emergencyId}}</td>
      <td>{{row.emergency.requestTime | date: 'medium'}}</td>
      <td>{{row.device.serialNumber}}</td>
    </tr>
  </ng-template>
</p-table>
